.logo {
  background-image: linear-gradient(135deg, #ff6363, #d72a2a);
  display: inline-flex;
  width: 32px;
  height: 32px;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}
