* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  background: #000000;
}

body,
input,
button {
  color: #fff;
  -webkit-text-size-adjust: 100%;
}

#__next {
  position: relative;
  z-index: 0;
}

button {
  cursor: default;
}

button:disabled {
  cursor: not-allowed;
}

svg {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

.selection-area {
  background: rgba(86, 194, 255, 0.15);
  border: 1px solid #56c2ff;
  border-radius: 2px;
}
