html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* background: #05010d; */
  background: #131313;
  color: #fff;
}

body,
input,
button {
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#__next {
  position: relative;
  z-index: 0;
}

button {
  cursor: default;
}

button:disabled {
  cursor: not-allowed;
}

svg {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

ol {
  list-style-position: inside;
}

code {
  font-family: JetBrains Mono;
  border-radius: 4px;
  padding: 0 4px;
  font-size: 0.9em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: hsla(0, 0%, 100%, 0.1);
  color: hsla(0, 0%, 100%, 0.6);
}

kbd {
  font-family: Inter;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: hsla(0, 0%, 100%, 0.1);
  color: hsla(0, 0%, 100%, 0.6);

  &[data-variant="dark"] {
    background-color: hsla(0, 0%, 0%, 0.4);
    color: hsla(0, 100%, 80%, 0.7);
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
