.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 64px 48px 192px;
}

.nav {
  margin-bottom: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subtitle {
  font-size: 18px;
  margin-bottom: 24px;
  font-weight: 500;
}

.snippets {
  display: grid;
  gap: 24px;
  margin-bottom: 64px;
  position: relative;
  z-index: 1;

  &[data-grid="2"] {
    grid-template-columns: repeat(2, 1fr);
  }

  &[data-grid="3"] {
    grid-template-columns: repeat(3, 1fr);
  }

  &[data-grid="4"] {
    grid-template-columns: repeat(4, 1fr);
  }
}

.divider {
  width: 50%;
  margin: 120px auto 60px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.15);
  border: none;
}

.item {
  padding: 24px;
  background-color: rgba(31, 31, 31, 1);
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  position: relative;
  transition: all 0.2s;
}

.item:hover {
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3);
}

.item:has(:focus) {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.3);
}

.item:has(:checked) {
  background-color: rgba(31, 31, 31, 1);
  user-select: none;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1);
}

.item:before {
  content: "";
  position: absolute;
  inset: -2px;
  border: 2px solid transparent;
  background: linear-gradient(
      33.333deg,
      #27061a,
      #ff6363 29.69%,
      #9b4dff 52.6%,
      #100321 98.44%
    )
    border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  z-index: -1;
  border-radius: 12px;
  backdrop-filter: overlay;
  opacity: 0;
  will-change: opacity;
  transition: opacity 0.2s;
}

.item:has(:checked):before {
  opacity: 1;
}

.item:after {
  content: "";
  position: absolute;
  inset: 0px;
  background: conic-gradient(
    from 147.14deg at 50% 50%,
    #0294fe -55.68deg,
    #ff2136 113.23deg,
    #9b4dff 195deg,
    #0294fe 304.32deg,
    #ff2136 473.23deg
  );
  border-radius: inherit;
  filter: blur(10px);
  opacity: 0;
  z-index: -2;
  transition: opacity 0.2s;
  will-change: opacity;
}

.item:has(:checked):after {
  opacity: 0.1;
}

.name {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}

.text {
  padding: 24px;
  display: block;

  &[data-type="symbol"] {
    font-size: 24px;
  }

  &[data-type="unicode"] {
    font-size: 14px;
    white-space: nowrap;
  }
}

.snippet {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  max-height: 320px;
}

.template {
  font-family: JetBrains Mono;
  font-size: 13px;
  line-height: 1.6;
  white-space: pre-wrap;
}

.keyword {
  font-family: JetBrains Mono;
  display: inline-block;
  padding: 4px 8px;
  border: 1px solid hsl(195, 5%, 25%);
  color: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  font-size: 11px;
}

.checkbox {
  opacity: 0;
  pointer-events: none;
  position: absolute;
}

.checkoutViewport {
  position: fixed;
  bottom: 24px;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  z-index: 3;
  pointer-events: none;
  animation: slideUp 0.4s cubic-bezier(0.16, 1, 0.3, 1);
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.checkout {
  margin: 0 auto;
  border-radius: 10px;
  background-color: #191919;
  padding: 24px;
  display: inline-flex;
  align-items: center;
  gap: 12px;
  border: 1px solid hsla(0, 0%, 100%, 0.2);
  box-shadow: 0 4px 16px 0 rgb(0 0 0 / 60%);
  width: 520px;
  pointer-events: all;
}

.checkoutText {
  font-weight: 500;
  font-size: 14px;
  text-align: left;
  width: 420px;
  color: hsla(0, 0%, 100%, 0.4);
}

.trigger {
  appearance: none;
  background-color: transparent;
  border: none;
  outline: none;
  border-radius: 6px;
  padding: 0 4px 0 8px;
  height: 30px;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  gap: 8px;

  &[data-variant="primary"] {
    color: #fff;
    background: rgba(255, 99, 99, 0.15);
    color: #ff6363;
    &:hover {
      background: rgba(255, 99, 99, 0.3);
    }
    &:focus {
      box-shadow: 0 0 0 2px #191919, 0 0 0 4px rgba(255, 99, 99, 0.2);
    }
  }

  &[data-variant="secondary"] {
    color: hsla(0, 0%, 100%, 0.6);

    &:hover,
    &[aria-expanded="true"] {
      background-color: hsla(0, 0%, 100%, 0.1);
    }
    &:focus {
      box-shadow: 0 0 0 2px #191919, 0 0 0 4px hsla(0, 0%, 100%, 0.1);
    }
  }
}

.controls {
  display: flex;
  gap: 24px;
  color: rgba(255, 255, 255, 0.6);
  user-select: none;
}

.modifierInput {
  display: flex;
  gap: 12px;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.1px;
  align-items: center;
}

.instructionTitle {
  color: hsla(0, 0%, 100%, 0.4);
  font-size: 16px;
  font-weight: 500;
  margin-top: 24px;
  margin-bottom: 24px;
}

.instructionDescription {
  color: hsla(0, 0%, 100%, 0.6);
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 24px;
}

.instructionButtons {
  display: flex;
  align-items: center;
  gap: 12px;
}

.hotkeys {
  display: inline-flex;
  gap: 4px;
  align-items: center;
  margin-left: auto;
}

.toastTitle {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.1px;
  display: flex;
  align-items: center;
  gap: 10px;
}
